* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
.header {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  background-color: #fff;
  position: fixed;
  z-index: 10;
}
.header > img {
  height: 30%;
}
.header__img.active {
  display: none;
}
.menu__humbergar {
  height: 40px;
  width: 40px;
  position: relative;
  cursor: pointer;
}
.menu__humbergar > span {
  display: block;
  width: 100%;
  height: 10%;
  background-color: #000;
  position: absolute;
  transition: 0.2s;
}
.menu__humbergar__bar--middle {
  top: 50%;
  transform: translate(0, -50%);
}
.menu__humbergar__bar--bottom {
  bottom: 0;
}
.menu__humbergar.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 50%;
}
.menu__humbergar.active span:nth-child(2) {
  opacity: 0;
}
.menu__humbergar.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50%;
}
.menu__humbergar.active {
  margin-left: auto;
}
.header .menu__lists {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu__humbergar {
    display: none;
  }
  .header .menu__lists {
    display: block;
    display: flex;
  }
  .header .menu__lists > li > a {
    color: #000;
  }
}
/* マスク */
.mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: -100%;
  background-color: #fff;
  transition: 0.5s;
  z-index: -1;
}
.mask.active {
  left: 0;
  z-index: 1;
}
.mask-menu__lists {
  text-align: center;
  padding: 70px;
}
.mask-menu__lists > li {
  padding: 25px;
  list-style: none;
}
.mask-menu__lists > li > a {
  text-decoration: none;
  color: blue;
}

/* タイトル */
#title {
  padding-top: 70px;
}
.title__img {
  background: url(../img/mv.png) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items:center;
}
.title__img > h1 {
  font-size: 30px;
  color: white;
}

/* お問い合わせ */
.contact {
  width: 90%;
  margin: 50px auto;
}
.contact label {
  display: block;
  padding: 20px 0 10px 0;
  font-weight: bold;
}
.contact input {
  width: 100%;
  height: 30px;
}
.contact textarea {
  width: 100%;
  height: 150px;
}
.contact label:not(:first-child):after {
  content: "*";
  color: rgb(200, 0, 0);
  padding-left: 5px;
}

/* footer */
.footer {
  width: 100%;
  height: 300px;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer small {
  color: #eee;
  display: flex;
  align-items: center;
  font-size: 10px;
}
.menu__lists > li {
  list-style: none;
  text-align: center;
  padding: 10px;
}
.menu__lists > li > a {
  text-decoration: none;
  color: #eee;
  font-size: 10px;
  padding: 0 10px;
}
.menu__lists > li > a:hover {
  opacity: 0.6;
  transition: 0.2s;
}
@media screen and (min-width: 768px) {
  .menu__lists {
    display: flex;
  }
  .footer {
    height: 50px;
  }
  .footer .menu__lists > li {
    padding: 0;
  }
  .footer .menu__lists > li:nth-child(1) {
    border-right: 2px solid yellow;
  }
  .footer .menu__lists > li:nth-child(2) {
    border-right: 2px solid rgb(0, 255, 213);
  }
  .footer .menu__lists > li:nth-child(3) {
    border-right: 2px solid rgb(255, 0, 255);
  }
  .footer .menu__lists > li:nth-child(4) {
    border-right: 2px solid rgb(126, 126, 97);
  }
  .footer .menu__lists > li:nth-child(5) {
    border-right: 2px solid rgb(0, 255, 213);
  }
  .footer .menu__lists > li:nth-child(6) {
    border-right: 2px solid yellow;
  }
}
/* 赤ボタン */
.a__btn {
  text-align: center;
}
.a__btn > input {
  background-color: rgb(0, 0, 0);
  color: #fff;
  width: 200px;
  margin-top: 30px;
}
.a__btn > input:hover {
  opacity: 0.6;
  transition: 0.2s;
}

/* content__title */
.content__title {
  text-align: center;
  margin: 30px;
  padding-top: 50px;
  font-size: 30px;
}
